@import url('https://fonts.googleapis.com/css?family=Playball|Forum|Happy+Monkey|Metamorphous|Overlock|Yeon+Sung');

html,body{height:100%;margin:0;} 
*{box-sizing: border-box;margin:0;}
/* height:100%; */

body{background-image:url("");
    background-size: 100% 100%; 
}

    /*================================================
    -------------------------------- JUMBOTRON HEADER -------
    ===================================================*/

#jumbo{
    height:20%;
    margin-bottom:0;
    background-image:url("../img/flowers2.jpg");
}
                     /*height:20%;*/
h1{
  color:#666600 /*olive*/;
  font-family: 'Playball', cursive;
    font-size:60px;
}

    /*========================================================
    ---------------------------------NAVIGATION BAR------------
    ============================================================*/

nav{
  background-color:#d6ebad; /*olivedrab*/
  margin-top:0;
  
}

nav a{color:#b03636;} /*indian red height:10%;border:solid red;*/

.ham{height:3px;width:26px;background-color:#b03636;margin-top:4px;}


/*========================================================
--------------------------------CONTAINER-------------------
==========================================================*/

div[class^="col-sm"]{
    border:solid red;
    margin:20px;
    border-radius:5%;
    }

img{height:100%;width:100%;border-radius:5%;border:solid yellow;} 

/*========================================================
--------------------------------SOUP PAGE -------------------
==========================================================*/

h3{color:#b03636;font-family:'Happy Monkey', cursive;}
h4,ul,ol{font-family: 'Happy Monkey', cursive;}

div[class^="col-md"]{
    border:dotted #cbb91a /*khaki*/;
    border-radius:5%;
    margin-top: 10px;
    }
/*indian red*/

#hide{display:none;}
button{margin:20px;}

@media only screen and (max-width: 360px) and (min-width: 320px){
    h1{font-size: 40px;}
}